config LIB_MSGPACK
    bool "msgpack"
    default y
    depends on HAVE_LIBC
    select HAVE_LIB_MSGPACK
    help
        Library for MessagePack data format (http://msgpack.org/).

config HAVE_LIB_MSGPACK
    bool
